---
// Layouts
import Layout from '@Layouts/Layout.astro';

// const { locale, slug } = Astro.params;
// const formattedDate = page.data.date.toLocaleString(lang);

// const { Content } = await page.render();
---

<Layout>
  <main>Activities</main>
</Layout>
