---
// Layouts
import Layout from '@Layouts/Layout.astro';
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<Layout>
  <!-- <table style="max-width: 800px; border-collapse: collapse; font-family: sans-serif; margin: 0 auto;">
    <thead style=" background-color: #e4f0f5;">
      <tr>
        <th scope="col" style="padding: 12px;" colspan="2">Данный анкеты</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style=" padding: 12px; border-right: 1.5px solid #b0cdda; width: 30%">Актив</th>
        <td style=" padding: 8px 12px;">Логопед (Kauklahti)</td>
      </tr>
      <tr style="background-color: #edeef2">
        <th scope="row" style="padding: 8px 12px; border-right: 1.5px solid #b0cdda">Дата / День недели</th>
        <td style="padding: 8px 12px;">Вторник, Четверг</td>
      </tr>
      <tr>
        <th scope="row" style="padding: 8px 12px; border-right: 1.5px solid #b0cdda">Время / Длительность</th>
        <td style="padding: 8px 12px;">10.00 - 14.00, 11.00 - 15.00</td>
      </tr>
      <tr style="background-color: #edeef2">
        <th scope="row" style="padding: 8px 12px; border-right: 1.5px solid #b0cdda"> Имя ребенка </th>
        <td style="padding: 8px 12px;"> Julia Ivanova </td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; border-right: 1.5px solid #b0cdda">Дата рождения</th>
        <td style=" padding: 8px 12px;">01.01.2000</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; background-color: #edeef2; border-right: 1.5px solid #b0cdda"
          >Доп. информация о ребенке</th
        >
        <td style=" padding: 8px 12px; background-color: #edeef2;">
          In this webinar, there will be discussion about the benefits of Finnish/Swedish language skills in the Finnish
          labour market and you can get to know the online materials available on Kielibuusti website that help you
          achieve your language learning goals.
        </td>
      </tr>

      <tr>
        <th scope="row" style=" padding: 8px 12px; border-right: 1.5px solid #b0cdda">Родитель / Опекун</th>
        <td style=" padding: 8px 12px;">Alexander Ivanov</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; background-color: #edeef2; border-right: 1.5px solid #b0cdda"
          >Henkilötunnus</th
        >
        <td style=" padding: 8px 12px; background-color: #edeef2;">120556-457Fv</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; border-right: 1.5px solid #b0cdda">Адрес</th>
        <td style=" padding: 8px 12px;">Vaasankatu 12 B 45</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; background-color: #edeef2; border-right: 1.5px solid #b0cdda"
          >Почтовый индекс</th
        >
        <td style=" padding: 8px 12px; background-color: #edeef2;">00120</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; border-right: 1.5px solid #b0cdda">Город</th>
        <td style=" padding: 8px 12px;">Helsinki</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; background-color: #edeef2; border-right: 1.5px solid #b0cdda"
          >Телефон</th
        >
        <td style=" padding: 8px 12px; background-color: #edeef2;">+358501234567</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; border-right: 1.5px solid #b0cdda">Email</th>
        <td style=" padding: 8px 12px;">example@example.com</td>
      </tr>
      <tr>
        <th scope="row" style=" padding: 8px 12px; background-color: #edeef2; border-right: 1.5px solid #b0cdda"
          >Доп. информация</th
        >
        <td style=" padding: 8px 12px; background-color: #edeef2;">
          We would like to remind you that Kirstintie 2 is designated as non-smoking property. Smoking inside the
          apartment, balcony, or the courtyard is strictly forbidden and will lead to an official warning.
        </td>
      </tr>
    </tbody>
  </table> -->
  <div style="max-width: 800px; margin: 0 auto; background-color: #fff; border-radius: 24px; padding: 36px 0; border: 1px solid #ece5ff; font-family: sans-serif">
    <h1 style="text-align: center; margin: 0 0 36px 0">Активность</h1>
  <div style="width: 100%;  margin: 0 auto">
      <div style="margin: 0 12px; padding: 12px; border-radius: 16px 16px 0 0; background-color: #704fe6; color: #fff;">
        <h2 style="font-size: 18px; text-align: center">Активность</h2>
      </div>
      <table style="width: 100%; border-collapse: collapse; text-align: left">
        <tbody>
          <tr>
            <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px">Актив</th>
            <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Логопед (Kauklahti)</td>
          </tr>
          <tr style="background-color: #fcfbff">
            <th scope="row" style="padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px">Дата / День недели</th>
            <td style="padding: 12px; border-bottom: 1px solid #ece5ff;">Вторник, Четверг</td>
          </tr>
          <tr>
            <th scope="row" style="padding: 12px">Время / Длительность</th>
            <td style="padding: 12px;">10.00 - 14.00, 11.00 - 15.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="text-align: left; margin: 36px auto">
      <div style="margin: 0 12px; padding: 12px; border-radius: 16px 16px 0 0; background-color: #feef79; ">
        <h2 style="font-size: 18px; text-align: center">Ребенок</h2>
      </div>
      <table style="width: 100%; border-collapse: collapse; font-family: sans-serif; margin-bottom: 36px">
      <tbody style="text-align: left">
      <tr>
          <th scope="row" style="padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px"> Имя ребенка </th>
          <td style="padding: 12px; border-bottom: 1px solid #ece5ff"> Julia Ivanova </td>
        </tr>
        <tr style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px">Дата рождения</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff">01.01.2000</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px;"
            >Доп. информация о ребенке</th
          >
          <td style="padding: 12px;">
            In this webinar, there will be discussion about the benefits of Finnish/Swedish language skills in the
            Finnish labour market and you can get to know the online materials available on Kielibuusti website that
            help you achieve your language learning goals.
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <div style="text-align: left">
      <div style="margin: 0 12px; padding: 12px; border-radius: 16px 16px 0 0; background-color: #daff7c;">
        <h3 style="font-size: 18px; text-align: center">Родитель</h3>
      </div>
      <table style="width: 100%; border-collapse: collapse; margin-bottom: 36px; border-radius: 24px">
      <tbody style="text-align: left">
        <tr style="background-color: #fcfbff; ">
          <th scope="row" style=" padding: 12px;border-bottom: 1px solid #ece5ff; width: 140px"
            >Родитель / Опекун</th
          >
          <td style="padding: 12px; border-bottom: 1px solid #ece5ff;">Alexander Ivanov</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;"
            >Henkilötunnus</th
          >
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">120556-457Fv</td>
        </tr>
        <tr  style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Адрес</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Vaasankatu 12 B 45</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;"
            >Почтовый индекс</th
          >
          <td style=" padding: 12px;  border-bottom: 1px solid #ece5ff;">00120</td>
        </tr>
        <tr  style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Город</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Helsinki</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;"
            >Телефон</th
          >
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">+358501234567</td>
        </tr>
        <tr  style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Email</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">example@example.com</td>
        </tr>
        <t >
          <th scope="row" style=" padding: 12px;"
            >Доп. информация</th
          >
          <td style="padding: 12px;">
            We would like to remind you that Kirstintie 2 is designated as non-smoking property. Smoking inside the
            apartment, balcony, or the courtyard is strictly forbidden and will lead to an official warning.
          </td>
        </t>
      </tbody>
    </table>
    </div>
    <!-- <table style="width: 100%; border-collapse: collapse; font-family: sans-serif; margin: 0 auto;">
      <thead style="background-color: #704fe6; color: #fff">
        <tr>
          <th scope="col" style="font-size: 16px; padding: 12px; border-radius: 16px 16px 0 0" colspan="1">Активность</th>
        </tr>
      </thead>
      <tbody style="text-align: left">
        <tr>
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px">Актив</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Логопед (Kauklahti)</td>
        </tr>
        <tr style="background-color: #fcfbff">
          <th scope="row" style="padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px">Дата / День недели</th>
          <td style="padding: 12px; border-bottom: 1px solid #ece5ff;">Вторник, Четверг</td>
        </tr>
        <tr>
          <th scope="row" style="padding: 12px">Время / Длительность</th>
          <td style="padding: 12px;">10.00 - 14.00, 11.00 - 15.00</td>
        </tr>
      </tbody>
    </table>
    <table style="width: 100%; border-collapse: collapse; font-family: sans-serif; margin: 36px auto;">
      <thead style=" background-color: #feef79;">
        <tr>
          <th scope="col" style="font-size: 16px; padding: 12px; border-radius: 16px 16px 0 0" colspan="1">Ребенок</th>
        </tr>
      </thead>
      <tbody style="text-align: left">
        <tr>
          <th scope="row" style="padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px"> Имя ребенка </th>
          <td style="padding: 12px; border-bottom: 1px solid #ece5ff"> Julia Ivanova </td>
        </tr>
        <tr style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff; width: 140px">Дата рождения</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff">01.01.2000</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px;"
            >Доп. информация о ребенке</th
          >
          <td style="padding: 12px;">
            In this webinar, there will be discussion about the benefits of Finnish/Swedish language skills in the
            Finnish labour market and you can get to know the online materials available on Kielibuusti website that
            help you achieve your language learning goals.
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width: 100%; border-collapse: collapse; font-family: sans-serif; margin: 0 auto; border-radius: 24px">
      <thead style=" background-color: #daff7c;">
        <tr>
          <th scope="col" style="font-size: 16px; padding: 12px; border-radius: 16px 16px 0 0" colspan="1">Родитель</th>
        </tr>
      </thead>
      <tbody style="text-align: left">
        <tr style="background-color: #fcfbff; ">
          <th scope="row" style=" padding: 12px;border-bottom: 1px solid #ece5ff; width: 140px"
            >Родитель / Опекун</th
          >
          <td style="padding: 12px; border-bottom: 1px solid #ece5ff;">Alexander Ivanov</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;"
            >Henkilötunnus</th
          >
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">120556-457Fv</td>
        </tr>
        <tr  style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Адрес</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Vaasankatu 12 B 45</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;"
            >Почтовый индекс</th
          >
          <td style=" padding: 12px;  border-bottom: 1px solid #ece5ff;">00120</td>
        </tr>
        <tr  style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Город</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Helsinki</td>
        </tr>
        <tr>
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;"
            >Телефон</th
          >
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">+358501234567</td>
        </tr>
        <tr  style="background-color: #fcfbff">
          <th scope="row" style=" padding: 12px; border-bottom: 1px solid #ece5ff;">Email</th>
          <td style=" padding: 12px; border-bottom: 1px solid #ece5ff;">example@example.com</td>
        </tr>
        <t >
          <th scope="row" style=" padding: 12px;"
            >Доп. информация</th
          >
          <td style="padding: 12px;">
            We would like to remind you that Kirstintie 2 is designated as non-smoking property. Smoking inside the
            apartment, balcony, or the courtyard is strictly forbidden and will lead to an official warning.
          </td>
        </t>
      </tbody>
    </table> -->
  </div>
</Layout>


<style>
  .column-sized {
    color: #fffad0;
    color: #704dfc;
</style>
