---
import type { HrefType } from '@Types';
interface Props {
  href: HrefType;
  name: string;
}

const { href, name } = Astro.props;
---

<li>
  <a href={href.url} target="_blank" class="folder">
    <svg aria-hidden="true">
      <use xlink:href="/svg/shapes.svg#folder-front"></use>
    </svg>
    <svg aria-hidden="true">
      <use xlink:href="/svg/shapes.svg#folder-doc1"></use>
    </svg>
    <svg aria-hidden="true">
      <use xlink:href="/svg/shapes.svg#folder-doc2"></use>
    </svg>
    <svg aria-hidden="true">
      <use xlink:href="/svg/shapes.svg#folder-back"></use>
    </svg>
    <p class="folder__name">{name}</p>
  </a>
</li>

<style>
  li {
  }
  .folder {
    max-width: 280px;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding: var(--gap-12);
    border-radius: var(--border-corner-12);
    transition: all 0.3s ease-in-out;
  }
  .folder:hover {
    background-color: var(--opacity-8);
  }

  svg {
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    user-select: none;
  }
  svg:nth-of-type(n + 2):nth-of-type(-n + 3) {
    transform-origin: center bottom;
    transition: all 0.3s ease-in-out;
    z-index: -2;
  }

  .folder:hover svg:nth-of-type(2) {
    translate: -0.5rem -1.5rem;
    rotate: z -10deg;
  }
  .folder:hover svg:nth-of-type(3) {
    translate: 0 -2.5rem;
    rotate: z 10deg;
    scale: 1;
  }

  svg:last-of-type {
    z-index: -3;
  }

  .folder__name {
    align-self: flex-start;
    color: var(--grey-300);
    font-size: clamp(var(--font-16), 2vw, var(--font-18));
    font-weight: bold;
    text-align: center;
  }
</style>
