---
interface Props {
  extraClass?: string;
}

const { extraClass } = Astro.props;
---

<p class=`p-heading font-24 ${extraClass ?? ''}`>
  <slot />
</p>

<style>
  .p-heading {
    grid-column: 2 / -2;
    text-align: center;
    padding-block: var(--gap-16) var(--gap-64);
  }
</style>
