---
import type { TypeUIIcons } from "@Types";
interface Props {
  isPrimary?: boolean;
  href: string;
  extraClass?: string;
  icon: TypeUIIcons;
}

const { extraClass, isPrimary, href, icon } = Astro.props;
---

<a
  href=`${href}`
  class=`btn ${isPrimary ? "btn-primary" : "btn-secondary"} ${extraClass}`
>
  <slot />
  <span class="btn__icon" aria-hidden="true">
    <svg>
      <use xlink:href=`/svg/ui_icons.svg#${icon}`></use>
    </svg>
  </span>
</a>
