---
import { locale_404 } from '@Locales/404';

const lang = Astro.currentLocale as 'ru' | 'fi';
---

<section class="page__empty">
  <img src="/svg/page_empty.svg" alt="page empty" />
  <p>{locale_404[lang].empty_p}</p>
  <a href={`/${lang}`} class="btn btn-secondary page__empty-btn revers arrow-icon">
    {locale_404[lang].not_found_btn}
    <span class="btn__icon" aria-hidden="true">
      <svg>
        <use xlink:href="/svg/ui_icons.svg#arrow_outward" data-xlink="arrow_outward"></use>
      </svg>
    </span>
  </a>
</section>

<style>
  .page__empty img {
    width: 100%;
  }
</style>
