---
import { locale_buttons } from '@Locales/buttons';
import type { HrefType } from '@Types';

interface Props {
  lang: 'ru' | 'fi';
  href: HrefType;
}

const { lang, href } = Astro.props;
---

<a href={href.url} target={href.target} class='btn btn-secondary arrow-icon'>
  {locale_buttons[lang].button_schedule}
  <span class='btn__icon' aria-hidden='true'>
    <svg>
      <use xlink:href='/svg/ui_icons.svg#arrow_outward' data-xlink='arrow_outward'></use>
    </svg>
  </span>
</a>
