.article:has(.article__image-details) {
  row-gap: var(--gap-36);
}

.article:has(.article__image-details) .btn-ternary {
  grid-column: 2 / -2;
}
.article:has(.article__image-post) .btn-ternary{
  grid-column: 5 / -2;
  margin-block-end: var(--gap-20);
}

time {
  color: var(--grey-300);
  font-size: var(--font-14);
}

time:has(+ .activity__title)  {
  grid-row: 1;
}

.article__image {
  width: 100%;
  max-height: 300px;
  min-height: 100%;
  border-radius: var(--border-corner-32);
  object-fit: cover;
  object-position: center;
}

.article__image-post {
  grid-column: 5 / -5;
}

.article__image-details {
  grid-row: 2;
  grid-column: 2 / span 6;
}

@media (max-width: 1200px) {
  .article:has(.article__image-post) .btn-ternary {
    grid-column: 3 / -2;
  }
 .article__image-post {
    grid-column: 1 / -1;
    max-height: 320px;
    border-radius: 0;
  }
}

@media screen and (max-width: 959px) {
  .article__image-details {
    grid-column: 1 / -1;
    max-height: 320px;
    border-radius: 0;
  }
  .article:has(.article__image-post) .btn-ternary {
    grid-column: 3 / -2;
  }
}

@media screen and (max-width: 767px) {
  .article:has(.article__image-post) .btn-ternary {
    grid-column: 2 / -2;
  }
}
