.separator {
  row-gap: var(--gap-64);
}

.column-sized,
.page__content {
  max-width: 700px;
  justify-self: center;
}

.page__header,
.page__content {
  grid-column: 2 / -2;
}

.page__header {
  display: grid;
  row-gap: var(--gap-18);
}

.page__header :where(h1, p) {
  text-align: center;
}
.page__header:not(:has(p)),
.page__header:has(p):has(~.page__content) p  {
  padding-block-end: var(--gap-64);
}

.page__header h1 {
  color: var(--black);
  font-size: clamp(var(--font-36), 6.5vw, var(--font-64));
}

.page__header p {
  max-width: 960px;
  justify-self: center;
  color: var(--grey-300);
  font-size: clamp(var(--font-18), 2vw, var(--font-20));
  line-height: 1.4;
}
