.form {
  grid-column: 2 / -2;
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: var(--gap-32);
  position: relative;
  padding: var(--gap-32);
  background-color: var(--white);
  border-radius: var(--border-corner-32);
  box-shadow:
    0 25px 20px var(--opacity-3),
    0 15px 10px var(--opacity-3);
}

.form :has(input:invalid) button{
  outline: 3px solid var(--red);
}

.header__important {
  position: relative;
  max-width: fit-content;
  font-size: var(--font-16);
  margin-inline: auto;
}

.header__important::before {
  content: '*';
  position: absolute;
  inset-block: 0;
  left: -0.5rem;
  color: var(--error);
}

fieldset legend {
  padding: var(--gap-12);
  color: var(--black);
  font-size: var(--font-20);
  font-weight: bold;
  background-color: transparent;
  border-radius: var(--border-corner-6);
  transition: all .3s ease-in-out;
}

fieldset {
  display: grid;
  row-gap: var(--gap-24);
  border-radius: var(--border-corner-8);
  border: 1px solid var(--grey-100);
  padding-inline: var(--gap-16);
  padding-block: var(--gap-16) var(--gap-24);
  transition: all .3s ease-in-out;
}
fieldset:hover {
  border-color:  var(--violet);
}
fieldset:nth-of-type(1):hover legend {
  background-color: var(--violet-light);
}
fieldset:nth-of-type(2):hover legend {
  background-color: var(--yellow);
}
fieldset:nth-of-type(3):hover legend {
  background-color: var(--green);
}

fieldset textarea {
  resize: none;
}

label {
  max-width: max-content;
  position: relative;
  font-size: var(--font-14);
  color: var(--grey-300);
}

label.required::after {
  content: '*';
  position: absolute;
  inset-block: 0;
  right: -0.5rem;
  color: var(--error);
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
}

.form__input :where(input, textarea) {
  min-width: 100%;
  padding: var(--gap-16);
  border-radius: var(--border-corner-8);
  border: 1.5px solid var(--violet-light);
}

.form__input :where(input, textarea):focus:valid {
  border-color: var(--success);
}

.form__input :where(input, textarea):focus:invalid {
  border-color: var(--error);
}

/* CHECKBOX */
input[type='checkbox'] {
  appearance: none;
  width: 28px;
  height: 28px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border: 1.5px solid var(--violet-light);
  border-radius: var(--border-corner-4);
  position: relative;
}

input[type='checkbox']::after {
  content: '';
  position: absolute;
  inset: 0.275rem;
  transform: scale(0);
  background-color: var(--violet);
  border-radius: var(--border-corner-4);
  transition: all 0.3s ease-in-out;
}

input:checked::after {
  transform: scale(1);
}

/* UI SHAPES */
.form > svg {
  position: absolute;
  stroke-width: 24;
  height: 370px;
  pointer-events: none;
  z-index: -1;
}

.form > svg:nth-of-type(1) {
  top: -5rem;
  right: -25%;
  stroke: var(--green);
}

.form > svg:nth-of-type(2) {
  top: 50%;
  left: -25%;
  translate: 0 -50%;
  stroke: var(--pink);
}

.form > svg:nth-of-type(3) {
  bottom: 0;
  right: -25%;
  stroke: var(--violet-light);
}

@media screen and (max-width: 959px) {
  .form > svg {
    display: none;
  }
}

@media (max-width: 559px) {
  .form {
    padding: var(--gap-32) var(--gap-16);
    border-radius: var(--border-corner-24);
  }

  input[type='checkbox'] {
    width: var(--size-48);
  }
}
