.btn {
  height: min-content;
  width: min-content;
  /* max-height: var(--size-56); */
  display: flex;
  align-items: center;
  border-radius: 4rem;
  font-weight: bold;
  white-space: nowrap;
}


.btn-primary,
.btn-secondary {
  min-width: 200px;
  justify-content: center;
  padding-block: var(--gap-12);
  padding-inline: var(--gap-32) var(--gap-16);
  border: 1px solid transparent;
  font-size: var(--font-20);
}

.btn-primary {
  background-color: var(--violet);
  color: var(--grey-25);
  box-shadow:
    0 25px 20px var(--opacity-5),
    0 15px 10px var(--opacity-8);
}

.btn-secondary {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--violet-light);
  box-shadow:
    0 25px 20px var(--opacity-3),
    0 15px 10px var(--opacity-3);
}

.btn-ternary {
  gap: var(--gap-12);
  padding-block: var(--gap-8);
  padding-inline-end: var(--gap-16);
  border: 1px solid transparent;
  font-size: var(--font-16);
  transition: all .3s ease-in-out;
}
.btn-ternary:hover {
  border-color: var(--violet-light);

}
.btn-ternary p {
  opacity: 0;
  transition: all .3s ease-in-out;
}
.btn-ternary:hover p{
  opacity: 1;
}

/* REVERS TEXT AND ICON */
.revers {
  direction: rtl;
}

.btn .btn__icon {
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  border-radius: 4rem;
  margin-left: var(--gap-16);
}
.btn.revers .btn__icon {
  margin-inline: var(--gap-16) 0;
  rotate: z -90deg;
}
.btn-primary .btn__icon,
.btn-secondary .btn__icon {
  width: var(--size-36);
  /* width: clamp(var(--size-32), 2vw, var(--size-36)); */
}
.btn-ternary .btn__icon {
  width: var(--size-32);
}

.btn .btn__icon svg {
  width: clamp(var(--size-20), 2vw, var(--size-24));
  aspect-ratio: 1;
}

.btn-primary .btn__icon {
  background-color: var(--white);
}

.btn-secondary .btn__icon,
.btn-ternary .btn__icon {
  background-color: var(--violet);
}

.btn-primary .btn__icon svg {
  fill: var(--violet);
}

.btn-secondary .btn__icon svg,
.btn-ternary .btn__icon svg {
  fill: var(--white);
}

.arrow-icon:hover [data-xlink="arrow_outward"] {
  animation: arrow-outward .5s ease-in-out forwards;
}

.arrow-icon:hover [data-xlink="arrow_backward"] {
  animation: arrow-backward .5s ease-in-out forwards;
}

.location-icon:hover [data-xlink="location"] {
  animation: location .5s linear forwards;
  transform-origin: center bottom;
}

@keyframes arrow-outward {

  50% {
    transform: translate(1.1rem, -1.1rem);
  }
  50.01% {
    transform: translate(-1.1rem, 1.1rem);
  }

}
@keyframes arrow-backward {

  50% {
    transform: translate(-1.1rem, 0);
  }
  50.01% {
    transform: translate(1.1rem, 0);
  }
}
@keyframes location {

  20% {
    transform: rotateZ(15deg);
  }
  40% {
    transform:rotateZ(-15deg);
  }
  60% {
    transform:rotateZ(15deg);
  }
  80% {
    transform:rotateZ(-15deg);
  }
}

@media  (max-width: 1200px) {

  .btn-ternary {
    padding: var(--gap-8);
  }
  .btn-ternary .btn__icon {
    margin-left: 0;
  }
}

@media (max-width: 520px) {
  .btn.btn-primary,
  .btn.btn-secondary {
    width: 100%;
  }
}

/* SMALL BUTTONs */
.circle-button {
  display: grid;
  place-content: center;
  width: var(--size-56);
  height: var(--size-56);
  background-color: var(--white);
  border: 1.5px solid var(--violet-light);
  border-radius: 100vh;
  box-shadow:
    0 25px 20px var(--opacity-3),
    0 15px 10px var(--opacity-3);
    transition: all .3s ease-in-out;
}
.circle-button:hover {
  border-color:  var(--violet);
}

.circle-button  *  {
  width: var(--size-32);
  height: var(--size-32);
  pointer-events: none;
}
