*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth !important;
    scroll-padding-top: 2rem;
  }
}

html {
  background-color: #f9f7f8;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  hanging-punctuation: first last;
}

body {
  max-block-size: 100svh;
  /* max-inline-size: 1920px; */
  /* margin-inline: auto; */
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased; /* for MacOs */
}
/* prevent scroll */
.body {
  overflow: hidden;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

img,
svg {
  user-select: none;
  -webkit-user-select: none;
}

a {
  text-decoration: none;
}
a:active {
  color: var(--black);
}

ul {
  list-style-type: none;
}

p,
input,
textarea {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
      /* for MacOs */
}
header,
footer,
main {
  max-width: 1504px;
  margin-inline: auto;
}

/* CLASSES */
/* 1920 > */
.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 6rem));
  column-gap: var(--gap-32);
  position: relative;
}

.main {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: subgrid;
}

h1, h2, h3,h4, h5, h6 {
  color: var(--black);
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

.bg-violet {
  background-color: var(--violet);
}
.bg-violet-light {
  background-color: var(--violet-light);
}
.bg-green {
  background-color: var(--green);
}
.bg-black {
  background-color: var(--black);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-yellow {
  background-color: var(--yellow);
}
.surface {
  background-color: var(--white);
}

.fill-violet {
  fill: var(--violet);
}
.fill-violet-light {
  fill: var(--violet-light);
}
.fill-pink {
  fill: var(--pink);
}
.fill-yellow {
  fill: var(--yellow);
}
.fill-green {
  fill: var(--green);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .grid {
      display: grid;
      grid-template-columns: 1fr repeat(12, minmax(0, 6rem)) 1fr;
      column-gap: var(--gap-16);
      position: relative;
    }
}
@media (max-width: 960px) {
  :root {
    --body-padding: 1rem;
  }
  .grid {
    grid-template-columns: var(--gap-16) repeat(6, minmax(0, 1fr)) var(--gap-16);
    column-gap: var(--gap-16);
  }
}

@media (max-width: 559px) {
  .title {
    padding-block-end: var(--gap-36);
  }
  .title,
  .description {
    grid-column: 2 / -2;
  }
}

/* Prevent to show content if orientation & height is valid */
/* @media only screen and (orientation: landscape) and (max-device-height: 780px) {
  body {

  }
} */
