*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth !important;
    scroll-padding-top: 2rem;
  }
}

html {
  min-height: 100svh;
  background-color: #f9f7f8;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  /* hanging-punctuation: first last; */
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased; /* for MacOs */
}

/* GLOBAL MEDIA */
img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

img,
svg {
  user-select: none;
  -webkit-user-select: none;
}

/* GLOBAL TEXT */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  text-wrap: pretty;
  line-height: 1.2;
}

p {
  text-wrap: pretty;
  line-height: 1.4;
}

p,
input,
textarea {
  font-weight: 400;
}

a,
p,
em,
input,
textarea {
  font-size: clamp(var(--font-16), 3vw, var(--font-18));
}

input,
textarea {
  color: var(--black);
}

input:focus-visible,
textarea:focus-visible {
  outline: 1.5px solid  var(--violet-light);
  outline-offset: .25rem;
}

textarea::placeholder {
  color: var(--grey-100);
}

p,
li,
time {
  color: var(--grey-300);
}

a {
  text-decoration: none;
}

a:active {
  color: var(--black);
}

ul {
  list-style-type: none;
}

.font-20,
.font-20 p {
  font-size: clamp(var(--font-18), 2.75vw, var(--font-20));
}

.font-24,
.font-24 p {
  font-size: clamp(var(--font-20), 2.5vw, var(--font-24));
}

time {
  font-size: var(--font-14);
}

/* RESET BUTTON STYLE */
button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
      /* for MacOs */
}

main {
  min-height: calc(100dvh - 84px);
  padding-block: var(--gap-56) var(--gap-96);
  align-items: baseline;
}

/* CLASSES */
/* 1920 > */
.grid {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(0, 6rem)) 1fr;
  grid-auto-rows: min-content;
  column-gap: var(--gap-32);
  position: relative;
}
.grid:has(.page__empty) {
  flex-grow: 1;
  grid-template-rows: min-content 1fr;
}

.href {
  position: relative;
  color: var(--violet);
  font-size: clamp(var(--font-16), 3vw, var(--font-18));
  font-weight: bold;
  text-decoration: underline transparent;
  text-underline-offset: 5px;
  transition: all .3s ease-in-out;
}
.href:hover {
  text-decoration: underline var(--violet);
  text-underline-offset: 2px;
}

/* COLORS */
.bg-violet {
  background-color: var(--violet);
}
.bg-violet-light {
  background-color: var(--violet-light);
}
.bg-green {
  background-color: var(--green);
}
.bg-black {
  background-color: var(--black);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-yellow {
  background-color: var(--yellow);
}
.surface {
  background-color: var(--white);
}

.fill-violet {
  fill: var(--violet);
}
.fill-violet-light {
  fill: var(--violet-light);
}
.fill-pink {
  fill: var(--pink);
}
.fill-yellow {
  fill: var(--yellow);
}
.fill-green {
  fill: var(--green);
}
.fill-black {
  fill: var(--black);
}

.stroke-violet {
  stroke: var(--violet);
}
.stroke-violet-light {
  stroke: var(--violet-light);
}
.stroke-pink {
  stroke: var(--pink);
}
.stroke-yellow {
  stroke: var(--yellow);
}
.stroke-green {
  stroke: var(--green);
}
.stroke-black {
  stroke: var(--black);
}

.main-section {
  padding-block-end: var(--gap-224);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .grid {
    column-gap: var(--gap-16);
  }
}

@media (max-width: 960px) {
  :root {
    --body-padding: 1rem;
  }
  .grid {
    grid-template-columns: auto repeat(6, minmax(0, 1fr)) auto;
    min-width: 100%;
  }
}

@media (max-width: 559px) {
  .title {
    padding-block-end: var(--gap-36);
  }
  .title,
  .description {
    grid-column: 2 / -2;
  }
}
