.markdown :where(h2, h3, h4, h5, h6) {
  padding-block: var(--gap-32) var(--gap-18);
}

.markdown h2 {
  font-size: clamp(var(--font-24), 4.5vw, var(--font-32));
}
.markdown h3 {
  font-size: clamp(var(--font-20), 3.8vw, var(--font-28));
}
.markdown h4 {
  font-size: clamp(var(--font-18), 3.4vw, var(--font-24));
}
.markdown h5 {
  font-size: clamp(var(--font-18), 3vw, var(--font-20));
}

.markdown :where(h2, h3, h4, h5, h6, p, ul, ol):first-child {
  padding-block-start: 0;
}

.markdown:not(.font-20):not(.font-24) :where(a, p, li ,em) {
  font-size: clamp(var(--font-16), 3vw, var(--font-18));
}

.markdown a {
  position: relative;
  color: var(--violet);
  font-weight: bold;
  text-decoration: underline var(--violet);
  text-underline-offset: 4px;
  transition: all .3s ease-in-out;
}

.markdown a:hover {
  text-decoration: underline transparent;
  text-underline-offset: 2px;
}

.markdown p {
  padding-block-end: var(--gap-16);
}

.markdown :where(ul, ol)  {
  padding-inline-start: var(--gap-16);
  padding-block-end: var(--gap-24);
}

.markdown li {
  list-style: disc;
  padding-block-end: var(--gap-16);
}
