---
import { locale_blank } from '@Locales/blanks';

interface Props {
  hrefName: string;
  hrefRule: 'camp' | 'club';
}

const lang = Astro.params.locale as 'ru' | 'fi';

const { hrefRule, hrefName } = Astro.props;
---

<div class="form__policy">
  <input type="checkbox" id="policy" required />
  <p>
    {locale_blank[lang].accept_rules}
    <a class="href" href=`/${lang}/rules-and-payments/rules-of-${hrefRule}`>{hrefName}</a>
  </p>
</div>

<style>
  .form__policy {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-16);
  }
</style>
