---

---

<button type="submit" class="btn btn-primary arrow-icon btn-submit">
  Отправить
  <span class="btn__icon" aria-hidden="true">
    <svg>
      <use xlink:href="/svg/ui_icons.svg#arrow_outward" data-xlink="arrow_outward"></use>
    </svg>
  </span>
</button>

<style>
  .btn-submit {
    margin-inline: auto;
    margin-block: var(--gap-16) var(--gap-32);
  }
</style>
