---
import { locale_buttons } from '@Locales/buttons';
import { locale_blank } from '@Locales/blanks';

const lang = Astro.params.locale as 'ru' | 'fi';
---

<div class="submit">
  <p class="notification">{locale_blank[lang].notification}</p>
  <p class="warning">{locale_blank[lang].warning}</p>
  <button type="submit" class="btn btn-primary arrow-icon btn-submit">
    <span class="btn__text">{locale_buttons[lang].button_submit}</span>
    <div class="btn__loader">
      <span></span><span></span><span></span><span></span><span></span>
    </div>
    <span class="btn__icon" aria-hidden="true">
      <svg>
        <use xlink:href="/svg/ui_icons.svg#arrow_outward" data-xlink="arrow_outward"></use>
      </svg>
    </span>
  </button>
</div>

<style>
  .notification,
  .warning {
    display: none;
    font-size: var(--font-14);
    text-align: center;
  }

  .warning.show {
    display: block;
    color: var(--error);
  }

  .submit.pending .notification {
    display: block;
  }

  .btn-submit {
    margin-inline: auto;
    margin-block: var(--gap-16) var(--gap-32);
  }
  .submit.pending .btn-submit {
    padding-inline: initial;
  }
  .submit.pending .btn__icon,
  .submit.pending .btn__text {
    display: none;
  }
  .submit.pending .btn__loader {
    display: flex;
  }

  .btn__loader {
    gap: var(--gap-8);
  }
  .btn__loader * {
    width: 8px;
    height: 8px;
    background-color: var(--violet);
    border-radius: 50%;
    animation: anim 1s linear infinite;
  }

  .btn__loader span:nth-child(1) {
  }
  .btn__loader span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .btn__loader span:nth-child(3) {
    animation-delay: 0.4s;
  }
  .btn__loader span:nth-child(4) {
    animation-delay: 0.6s;
  }
  .btn__loader span:nth-child(5) {
    animation-delay: 0.8s;
  }

  @keyframes anim {
    25% {
      translate: 0 -0.5rem;
    }
    75% {
      translate: 0 0.5rem;
    }
  }
</style>
