---
import type { TypeLanguages } from "@Types";
interface Props {
  lang: TypeLanguages;
}

const { lang } = Astro.props;
---

<div class="header__lang">
  <a href="/ru" data-astro-reload data-active={lang.includes("ru")}>RU</a>
  <a href="/fi" data-astro-reload data-active={lang.includes("fi")}>FI</a>
</div>

<style>
  .header__lang {
    display: flex;
    gap: var(--gap-12);
    margin-inline-start: auto;
    font-size: var(--font-16);
    font-weight: bold;
    padding-block: var(--gap-18);
    a {
      width: var(--size-48);
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      border-radius: 50%;
      border: 2px solid var(--black);
      background-color: transparent;
    }
    a[data-active] {
      border: 2px solid transparent;
      background-color: var(--black);
      color: var(--white);
    }
  }
</style>
