---
interface Props {
  chip: string;
  color: string;
}
const { color, chip } = Astro.props;
---

<span class={`teacher__link bg-${color}`}>
  {chip}
</span>

<style>
  .teacher__link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-wrap: pretty;
    padding: var(--gap-8) var(--gap-16);
    border-radius: var(--border-corner-32);
    background-color: var(--violet);
    color: var(--white);
    font-size: var(--font-12);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    user-select: none;
  }
  .teacher__link.bg-black,
  .teacher__link.bg-violet {
    color: var(--white);
  }
</style>
