---
// Components
import Languages from '@Components/header/Languages.astro';
import Logo from '@Components/header/Logo.astro';
import Navigation from '@Components/header/navigation/Navigation.astro';

interface Props {
  data?: string;
}
const { data } = Astro.props;
---

<header class="grid header">
  {
    data ? (
      <div class="notification">
        <p>{data}</p>
      </div>
    ) : null
  }
  <Logo />
  <Navigation />
  <Languages />
</header>

<style>
  .header {
    height: min-content;
    align-items: center;
    padding-block: var(--gap-18);
    z-index: 100;
  }

  .notification {
    grid-column: 1 / -1;
    padding-block: var(--gap-12);
    margin-block-start: var(--gap-16);
    background-color: var(--black);
  }

  .notification p {
    width: min(100%, 1200px);
    margin-inline: auto;
    color: var(--grey-50);
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-size: var(--font-14);
  }
  @media screen and (max-width: 1199px) {
    .notification {
      margin-block-start: var(--gap-36);
    }
  }
</style>
