---
// Get language from Astro Runtime API
const lang = Astro.url.pathname.substring(1, 3) as "ru" | "fi";
---

<div class="header__lang">
  <a href="/ru" data-astro-reload data-active={lang.includes("ru")}>RU</a>
  <a href="/fi" data-astro-reload data-active={lang.includes("fi")}>FI</a>
</div>

<style>
  .header__lang {
    display: flex;
    gap: var(--gap-12);
    font-size: var(--font-12);
    font-weight: bold;
  }
  .header__lang a {
    width: var(--size-36);
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: transparent;
  }

  .header__lang a[data-active] {
    border: 2px solid transparent;
    background-color: var(--black);
    color: var(--white);
  }

  @media screen and (max-width: 1199px) {
    .header__lang {
      margin-inline-end: var(--gap-16);
    }
  }
</style>
