---
const lang = Astro.currentLocale as 'ru' | 'fi';
---

<a href=`/${lang}` class="header__logo" title="sadko.fi" aria-label="sadko.fi">
  <img src="/svg/logo.svg" alt="sadko logo" />
</a>
<style>
  .header__logo {
    grid-column: 2 / 2 span;
    grid-row: 1;
  }
  .header__logo img {
    height: var(--size-36);
  }
</style>
