---

---

<address class="footer__contact">
  <a href="tel:+1234567890">123-456-7890</a>
  <a href="mailto:example@example.com">example@example.com</a>
  <p>Suunnistajankuja 4 C Länsimäki рядом метро Mellunmäki.</p>
</address>

<style>
  .footer__contact {
    grid-column: 3;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-8);
    position: relative;
    z-index: 5;
  }
  .footer__contact > * {
    flex-basis: 100%;
    color: var(--black);
    font-style: normal;
  }
  .footer__contact a:nth-of-type(1) {
    font-size: clamp(var(--font-32), 4.5vw, var(--font-48));
    font-weight: bold;
  }
  .footer__contact a:nth-of-type(2) {
    font-size: clamp(var(--font-20), 2.5vw, var(--font-24));
  }
  .footer__contact p {
    /* font-size: var(--font-18); */
  }

  @media (max-width: 960px) {
    .footer__contact {
      grid-column: 1;
    }
  }
</style>
