---

---

<footer class="grid main-grid footer">
  <p class="copyright">Copyright © {new Date().getFullYear()} Sadko ry</p>
</footer>
<style>
  .footer {
    grid-column: 2 / -2;
    padding-block: 0 var(--gap-18);
  }
  .copyright {
    grid-column: 2 / -2;
    justify-self: center;
    color: var(--grey-200);
  }
</style>
