---

---

<script>
  const button = document.querySelector<HTMLButtonElement>('.header__menu-button');
  const navigation = document.querySelector<HTMLElement>('.header__nav');
  const body = document.documentElement;
  function openSubMenu() {
    if (navigation?.classList.contains('open-menu')) {
      navigation?.classList.remove('open-menu');
      button?.classList.remove('open-menu');
      body.style.overflow = '';
      return;
    }
    navigation?.classList.add('open-menu');
    button?.classList.add('open-menu');
    body.style.overflow = 'hidden';
  }
  button?.addEventListener('mousedown', openSubMenu);
</script>

<button type="button" class="header__menu-button" aria-label="mobile menu button" title="mobile menu button">
  <svg class="icon menu" aria-hidden="true">
    <use xlink:href=`/svg/ui_icons.svg#menu`></use>
  </svg>
  <svg class="icon close" aria-hidden="true">
    <use xlink:href=`/svg/ui_icons.svg#close`></use>
  </svg>
</button>

<style>
  .header__menu-button {
    grid-column: 5 / -2;
    grid-row: 1;
    display: grid;
    place-content: center;
    width: var(--size-36);
    aspect-ratio: 1;
    margin-inline-start: auto;
    border-radius: 50%;
    background-color: var(--violet-light);
  }
  .header__menu-button.open-menu .menu {
    display: none;
  }
  .header__menu-button.open-menu .close {
    display: block;
  }

  .icon {
    width: var(--size-24);
    aspect-ratio: 1;
  }
  .close {
    display: none;
  }

  @media screen and (min-width: 1199px) {
    .header__menu-button {
      display: none;
    }
  }
</style>
