---
import type { ISubMenu } from '@Types';
import SubLink from '../navigation/SubLink.astro';
import SubLinkImage from '../navigation/SubLinkImage.astro';

interface Props {
  columnName: string;
  columns: Array<ISubMenu>;
}

const { columnName, columns } = Astro.props;

const exceptions = ['rules-and-payments', 'gallery', 'blanks'];
---

<li class="subnav__column">
  <h3 class="subnav__column-title">{columnName}</h3>
  {
    columns.map(link => {
      if (exceptions.includes(link.slug)) {
        return <SubLinkImage link={link} />;
      }
      return <SubLink link={link} />;
    })
  }
</li>

<style>
  .subnav__column {
    flex-grow: 1;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-12);
    padding-inline: var(--gap-14);
    padding-block: var(--gap-18);
  }
  .subnav__column:not(:last-of-type) {
    border-right: 1px solid var(--opacity-30);
  }

  .subnav__column-title {
    font-size: var(--font-18);
    padding-block-end: var(--gap-12);
    padding-inline-start: var(--gap-16);
  }

  @media screen and (max-width: 767px) {
    .subnav__column {
      padding-inline: 0;
    }
    .subnav__column:not(:last-of-type) {
      border-bottom: 1px solid var(--opacity-30);
      border-right: none;
    }
  }
</style>
