---
import type { ISubMenu } from '@Types';

interface Props {
  link: ISubMenu;
}
// Get language from Astro Runtime API
const lang = Astro.currentLocale as 'ru' | 'fi';

const { icon, hrefDesc, slug } = Astro.props.link;
---

<a href=`/${lang}/${slug}/` class="subnav__link-image" data-astro-reload role="menuitem">
  <div class="subnav__link-content">
    <img src=`/svg/${icon}.svg` alt="image" />
  </div>
  <p>
    {hrefDesc[lang]}
    <svg class="icon">
      <use xlink:href=`/svg/ui_icons.svg#arrow`></use>
    </svg>
  </p>
</a>

<style>
  .subnav__link-image {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    grid-template-rows: 1fr auto;
    row-gap: var(--gap-24);
    padding: var(--gap-12);
    border-radius: var(--border-corner-12);
    transition: all 0.3s ease-in-out;
  }
  .subnav__link-image:hover,
  .subnav__link-image:focus-visible {
    background-color: var(--opacity-8);
  }
  .subnav__link-image:hover .icon,
  .subnav__link-image:focus-visible .icon {
    translate: -0.5rem 0;
  }
  .subnav__link-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .subnav__link-content {
    display: flex;
  }

  p {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-8);
    color: var(--grey-200);
    font-size: var(--font-14);
    line-height: 1.4;
  }

  .icon {
    width: var(--size-16);
    aspect-ratio: 1;
    rotate: z -90deg;
    transition: translate 0.3s ease-in-out;
  }
</style>
