---
// Global Styles
import '@Styles/variable.css';
import '@Styles/fonts.css';
import '@Styles/global.css';
import '@Styles/buttons.css';
import '@Styles/markdown.css';
// Query
import query from '@Queries/common_data';
import { single } from '@Lib/prismiccms';
// Components
import Header from '@Components/header/Header.astro';
import Footer from '@Components/footer/Footer.astro';
import ContactButtons from '@Components/ui-mobile/ContactButtons.astro';
// Types
import type { ICommonData } from '@Types';

// Get language from Astro Runtime API
const lang = Astro.currentLocale as 'ru' | 'fi';

const response = await single(query, 'common_data', lang);
const data = response.data as ICommonData;

const { notification, ...footer } = data;
---

<!doctype html>
<html lang={lang}>
  <body class="body">
    <Header data={notification} />
    <slot />
    <Footer data={footer} />
    <ContactButtons data={footer} />
  </body>
</html>
