---
// import {getRelativeLocaleUrl} from 'astro:i18n'
// Global Styles
import '@Styles/variable.css';
import '@Styles/fonts.css';
import '@Styles/global.css';
import '@Styles/buttons.css';
// Components
import Header from '@Components/header/Header.astro';
import Footer from '@Components/footer/Footer.astro';

// Get language from Astro Runtime API
const lang = Astro.currentLocale as 'ru' | 'fi';
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="alternate" href="https://www.sadko.fi/ru" hreflang="ru" />
    <link rel="alternate" href="https://www.sadko.fi/fi/" hreflang="fi" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="googlebot" content="index, follow" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="sadko" />

    <meta name="generator" content={Astro.generator} />
    <meta name="rating" content="General" />

    <meta name="geo.region" content="FI" />
    <!-- <meta
      name="google-site-verification"
      content="H0uSTqaKvyYCig_6IA0D_Le4q6K8__tuSDHhYWX6htM"
    /> -->

    <!-- <slot name="head" /> -->
  </head>
  <body class="body">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
