---
// Global Styles
import '@Styles/variable.css';
import '@Styles/fonts.css';
import '@Styles/global.css';
import '@Styles/buttons.css';
import '@Styles/markdown.css';
// Query
// import query from '@Queries/common_data';
// import { single } from '@Lib/prismiccms';
// Components
import Header from '@Components/header/Header.astro';
import Footer from '@Components/footer/Footer.astro';
// Types
// import type { ICommonData } from '@Types';

// Get language from Astro Runtime API
const lang = Astro.currentLocale as 'ru' | 'fi';
// const response = await single(query, 'common_data', lang);
// const data = response.data as ICommonData;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="alternate" href="https://sadko.fi/ru" hreflang="ru" />
    <link rel="alternate" href="https://sadko.fi/fi/" hreflang="fi" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="googlebot" content="index, follow" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="sadko" />

    <meta name="generator" content={Astro.generator} />
    <meta name="rating" content="General" />

    <meta name="geo.region" content="FI" />
    <!-- <meta
      name="google-site-verification"
      content="H0uSTqaKvyYCig_6IA0D_Le4q6K8__tuSDHhYWX6htM"
    /> -->

    <!-- <slot name="head" /> -->
  </head>
  <body class="body">
    <!-- <address class="address-header">
      {data.address}
    </address> -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  .address-header {
    /* height: 2rem; */
    display: flex;
    gap: var(--gap-18);
    padding: var(--gap-12) var(--gap-16);
    background-color: var(--black);
    color: var(--grey-50);
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-size: var(--font-14);
    /* margin-inline: auto; */
  }
</style>
